{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="home_page">
    <div>
        <img class="home_logo" src="../static/logo/tweek_w.jpg" alt="">
    </div>
    <h1>Your Ultimate DM Solution!</h1>
    <p id="get_started"><a href="/sign-up">GET STARTED FOR FREE</a></p>

    <br><br><br><br><br><br><br>

    <div class="top">
        <div><img class="home_preview" src="../static/logo/home_preview.png"></div>
        <h4 class="welcome_text">
            <p>Are your Twitter DMs a chaotic mess, buried under an avalanche of unread messages and message requests?
                Do
                you
                find it overwhelming to manage your direct messages and fear missing out on valuable opportunities and
                connections? If so, you're not alone.</p>

            <p>We understand the challenges you face in keeping up with your Twitter DMs. It's a powerful way to engage
                with
                your audience, but the current user interface can be a real time-drain. That's where we come in.</p>

            <p>At tweetk, we've revolutionized the way you handle Twitter DMs. Say goodbye to the frustration of
                drowning in
                unread messages and hello to a stress-free and efficient DM management system.</p>
            <p id="get_started"><a href="/sign-up">GET STARTED FOR FREE</a></p>
        </h4>
    </div>
    <div class="infos">
        <div class="info_block">
            <h2 class="info_title">🚀 Unlock Opportunities:</h2>
            <hr class="info_hr">
            <p class="info_content">Don't let promising connections slip through the cracks. With tweetk, you'll never
                miss another conversation with potential collaborators, customers, or followers.
            </p>
        </div>
        <div class="info_block">
            <h2 class="info_title">🤖 Automate Your Outreach:</h2>
            <hr class="info_hr">
            <p class="info_content">Imagine having the power to automatically send DMs to an untouched audience. Whether
                it's encouraging followers to subscribe to your newsletter or promoting your latest course, tweetk makes
                it
                effortless.
            </p>
        </div>
        <div class="info_block">
            <h2 class="info_title">💌 Craft a Warm Welcome</h2>
            <hr class="info_hr">
            <p class="info_content">Set up a welcoming message with ease and start building meaningful connections. No
                more
                guilt for not responding promptly – tweetk has got you covered.
            </p>
        </div>
    </div>
</div>
{% endblock %}