{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<form method="POST">
    <h1>Write your meessage</h1>

    <div class="message_page">

        <div class="left">
            <textarea name="message" id="tweet_textarea" cols="60" rows="20">Hallo,

Thanks for reaching out 👋😊 I get a lot of messages + do my best to reply. 

Here’s some answers to common questions. 

(1) 🙋🏻‍♂️ Yes, we do have a course! 👉 https://nothingcourse.com

(2) 👩🏽‍💻 No we don't do 1on1 consulting. But check out our Discord. We discuss nothing there: https://discord.nothing.com

(3) 📧 Check out our Newsletter for daily updates about nothing: 
👉 https://nothing_newsletter.com

If you have questions about the anything, please email ✉️  nothing@email.com and we’ll take care of you  

Much love, 🙏😊
mr. Nobody"</textarea>
            <div>
                <button type="submit">Set Message</button>
            </div>
        </div>

        <div class="right">
            <div class="dm_banner">
                <div class="dm_profile_pic">
                    <img src="{{ user.user_profile_picture_url }}" alt="Profile Picture">
                </div>
                <div class="dm_text">
                    <p class="dm_name">{{ user.user_name }}</p>
                    <p class="dm_tag">@{{ user.user_twitter_tag }}</p>

                    <p class="dm_description">{{ user.user_description }}</p>
                    <p class="dm_gray_text">Joined {{ user.user_join_date.strftime('%B %Y') }} • {{
                        user.user_followers_count }} Followers
                    </p>
                    <p class="dm_gray_text">Not followed by anyone you're following</p>
                </div>
                <br>
                <br>
                <hr class="dm_hr">
            </div>
            <div class="tweet_preview" id="tweet_preview">

            </div>
        </div>
    </div>

    <!-- display notes prototype -->
    <h1>Your Message Templates</h1>
    <div class="preview_contaner">
        {% for msg in user.message %}

        <div class="tweet_preview">

            <div class="buttons">
                {% if msg.active == True:%}
                <div class="tweet_active">
                    active
                </div>
                {% endif %}

                {% if msg.active != True:%}
                <button type="button" class="active_btn" onClick="activate_message({{ msg.id }})">
                    <span>Set Active</span>
                </button>
                {% endif %}
                <button type="button" class="delete_btn" onClick="delete_message({{ msg.id }})">
                    <span>Delete</span>
                </button>
            </div>
            <hr>
            <div class="message_display">


                {{ msg.message }}
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="../static/text_editor.js"></script>
    <link rel="stylesheet" href="./static/text_editor.css">

</form>
{% endblock %}