{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}


<form method="POST">
    <div class="page">
        <h1>Log In With 𝕏 <span class="twitter">(Twitter)</span></h1>
        <hr>
        <div class="inputs">
            <div class="field">
                <span class="at-sign">@</span>
                <input type="text" id="twitter_tag" name="twitter_tag" required>
                <label>twitter tag</label>
            </div>
            <div class="field">
                <span class="at-sign">🔑</span>
                <input type="password" id="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="buttons">
                <button id="showPasswordButton">Show Password</button>
                <button type="submit">Log in</button>
            </div>
        </div>
        <p class="switch">No account? <a href="/sign-up">Sign Up</a></p>
    </div>
</form>

<link rel="stylesheet" href="./static/signup.css">
<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>

<script>
    const passwordInput = document.getElementById("password");
    const showPasswordButton = document.getElementById("showPasswordButton");

    showPasswordButton.addEventListener("click", () => {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });
</script>

{% endblock %}