{% extends "base.html" %}
{% block title %}Sign-Up{% endblock %}

{% block content %}

<form method="POST">
    <div class="page">
        <h1>Sign Up With 𝕏 <span class="twitter">(Twitter)</span></h1>
        <hr>
        <form action="{{ url_for('auth.twitter_login') }}" method="get">
            <button type="submit">Log in With 𝕏</button>
        </form>
    </div>
</form>

<link rel="stylesheet" href="./static/signup.css">
<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>


{% endblock %}