{% extends "base.html" %}
{% block title %}Unsubscribe{% endblock %}

{% block content %}
<div class="container">
    <h1>We're Sad to See You Go!</h1>
    <p class="unsubscribe_p">If you've decided to unsubscribe from our service, we're sorry to see you leave. You can
        always re-subscribe at
        any time in the future if you change your mind.</p>

    <!-- Add any additional information or instructions here -->

    <form method="POST" action="/delete-user">
        <!-- Include a CSRF token for security -->
        <button type="submit" class="btn btn-danger">Unsubscribe</button>
    </form>
</div>
<link rel="stylesheet" href="./static/unsubscribe.css">
{% endblock %}